<%= stylesheet_link_tag 'styles' %>
<div class="newform">
  <div class="container">
<div class="registerform">
  <h1>Login</h1>

<%= form_with url: sessions_path do |form| %>
  <%= form.label :email %><br>
  <%= form.email_field :email %><br>

  <%= form.label :password %><br>
  <%= form.password_field :password %><br><br>

  <%= form.submit 'Login', class: 'login_button' %>
  <%= button_to 'Register', new_user_path, method: :get, class: 'register_button' %>
<% end %>

</div>
  </div>
</div>