<!-- app/views/posts/show.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-md-12" id="post_display">
      <h2><%= @post.title %></h2>
    </div>
   

    <div class="postpage">
      <div id="p_content">
      <p><%= @post.content %></p>
      </div>
     
     <ul class="buttons3">
  <li>
    <%= button_to 'Upvote' , upvote_post_path(@post), method: :post, id: ("voted" if current_user&.votes&.exists?(post_id: @post.id, vote: 1)) %>
  </li>
  <li>
  <% if @post.votes.sum(:vote) > 0 %>
           <%= '^' %>
           <% elsif @post.votes.sum(:vote) < 0 %>
           <%= 'v' %>
          <% end %>
          <%= @post.votes.sum(:vote).abs %>
  </li>
  <li>
    <%= button_to 'Downvote' , downvote_post_path(@post), method: :post, id: ("voted" if current_user&.votes&.exists?(post_id: @post.id, vote: -1)) %>
  </li>
  <li id="poster_name">
        <%= 'by' + ' ' + @post.user.name %>
     </li>
</ul>






      <h2>Comments</h2>
      <% @post.comments.each do |comment| %>
        <div class="comment">
  <p id="user">
    <%= comment.user.name + " :" %>
  </p>
  <p id="content">
    <%= comment.content %>
  </p>
</div>
      <% end %>


      <% if logged_in? %>
        <div class="newcomment">
          <h2>Create a new comment</h2>
          <%= form_with model: [@post, @comment], url: post_comments_path(@post) do |form| %>
            <%= form.label :content %><br>
            <%= form.text_area :content, cols: '60', rows: '3', class: 'commentfield' %><br>
            <%= form.submit 'Create Comment', id: 'button', type: 'submit' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
