<!-- app/views/posts/show.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="GoBack">
        <button id="submit_button"><%= link_to "Go Back", posts_path %></button>
      </div>
    </div>
    <div class="col-md-10" id="post_display">
      <h2><%= @post.title %></h2>
    </div>
   

    <div class="postpage">
      <div id="p_content">
      <p><%= @post.content %></p>
      </div>
      <%= pluralize(@post.votes.sum(:vote), "vote") %>
      <%= button_to 'Like', upvote_post_path(@post), method: :post %>
      <%= button_to 'DISLike', downvote_post_path(@post), method: :post %>





      <h2>Comments</h2>
      <% @post.comments.each do |comment| %>
        <div class="comment">
  <p id="user">
    <%= comment.user.name + " :" %>
  </p>
  <p id="content">
    <%= comment.content %>
  </p>
</div>
      <% end %>

      <% if logged_in? && current_user == @post.user %>
  
<% end %>


      <% if logged_in? %>
        <div class="newcomment">
          <h2>Create a new comment</h2>
          <%= form_with model: [@post, @comment], url: post_comments_path(@post) do |form| %>
            <%= form.label :content %><br>
            <%= form.text_area :content, cols: '60', rows: '3', class: 'commentfield' %><br>
            <%= form.submit 'Create Comment', id: 'button', type: 'submit' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
