<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>

  
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="header">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ul class="nav_bar">
            <li id="navbutton"><%= link_to 'Home', root_path %></li>
            <% unless !logged_in? %>
              <li id="navbutton"><%= link_to 'Logout', logout_path, method: :delete %></li>
            <% else %>
              <li id="navbutton"><%= link_to 'Login', login_path %></li> 
              <li id="navbutton"><%= link_to 'Register', new_user_path %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="row">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
